<footer class="">

  <p>Connect with us:</p>
  <div class="social-links">
    <a href="https://www.instagram.com/gdg_aitd?igsh=MWE1eXdhOWtoNndseA=="><i class="fa-brands fa-square-instagram" style="color: rgb(232, 20, 20)"></i> Instagram</a>
    <a href="https://x.com/gdg_aitd?t=VN-c0ASpyRl3Ulr6BZT2wQ&s=08" ><i class="fab fa-x-twitter"></i> Twitter</a>
    <a href="https://www.linkedin.com/company/gdg-aitd/" ><i class="fa-brands fa-linkedin" style="color: rgb(6, 101, 123)"></i> LinkedIn</a>
    <a href="mailto:example@gmail.com"><i class="fas fa-envelope"></i> Email</a>
  </div>
  <p class="mt-3">© 2025 GDG Dr.AITD | All Rights Reserved</p>
</footer>
