
<div class="container py-5 px-4">
  <div class="row align-items-center mb-5">
    <div class="col-md-7">
      <h1 class="fw-bold mb-3 fs-1">
        GDG on Campus Dr. Ambedkar Institute of <br>
        Technology for Divyangjan - Kanpur, India
      </h1>
    </div>
    <div class="col-md-5 text-center">
      <img src="assests\aitd.jpeg" class="img-fluid rounded-circle shadow-lg" style="max-width: 220px;">
    </div>
  </div>

  <h1 class="fw-bold mb-5"><span class="text-info">About</span></h1>
  <p>
    <b>Google Developer Groups on Campus (GDGs on Campus)</b> are vibrant university-based communities
    designed for students passionate about Google developer technologies. Whether you're an
    undergraduate or graduate student, all levels of developers are welcome to join. We are here
    to help students become aware of different technologies and resources. Regarding the same,
    we conduct events, seminars, and contests.
  </p>
  <p class="fw-semibold">
    By joining GDG on Campus Dr. AITD, you'll have the opportunity to:
  </p>
  <ul class="list-unstyled">
    <li class="mb-3 ">
      <strong>Peer-to-Peer Learning:</strong>
      Collaborate with fellow students in a supportive environment to deepen your understanding
      of Google's developer tools and platforms.
    </li>
    <li class="mb-3">
      <strong>Hands-On Projects:</strong>
      Apply your knowledge to real-world projects, building solutions for local businesses and communities.
    </li>
    <li class="mb-2">
      <strong>Networking Opportunities:</strong>
      Connect with industry professionals and fellow developers to expand your network and gain valuable insights.
    </li>
  </ul>

  <div class="row align-items-center py-5">
    <div class="col-md-6 mb-4 mb-md-0">
      <img src="/assests/aitd.webp" alt="" class="img-fluid rounded shadow-lg" style="max-height: 340px;">
    </div>
    <div class="col-md-6">
      <h2 class="fw-bold"><span class="text-danger">Our Mission</span></h2>
      <p class="mt-3">
        Our mission is to empower students with the skills and knowledge needed to excel in the tech industry.
        We aim to foster a collaborative environment where students can learn, share ideas, and innovate using
        Google technologies.
      </p>
      <p>
        By joining GDG on Campus, you'll have access to exclusive resources, mentorship opportunities, and
        the chance to participate in exciting events that will enhance your learning experience.
      </p>
    </div>
  </div>
</div>